<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="copy_as_path"
         name="Copy as Path"
         point="org.eclipse.ui.commands">
      <command
            id="ch.netcetera.eclipse.copyaspath"
            name="Copy as Path">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <command
               commandId="ch.netcetera.eclipse.copyaspath"
               label="Copy As Path">
               <visibleWhen
                     checkEnabled="false">
               </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.netcetera.eclipse.copyaspath.DefaultHandler"
            commandId="ch.netcetera.eclipse.copyaspath">
         <enabledWhen>             
	         <or>
	         	<with variable="selection">
	                <and>
	                	<count
	                       value="1">
	                	</count>
	                                     <iterate
	                       ifEmpty="false"
	                       operator="or">
					   <or>
					    <adapt type="org.eclipse.core.resources.IResource"/>
					    <adapt type="org.eclipse.jdt.core.IJavaElement"/>
					  </or>
					</iterate>      
					</and>
				</with>   
				<and>
					<with variable="activePart">
						<adapt type="org.eclipse.ui.IEditorPart"/>
					</with>
				    <with variable="activeEditorInput">
				      <adapt type="org.eclipse.core.resources.IResource" />
				    </with>
				</and>    
			</or>
         </enabledWhen>
      </handler>
   </extension>
</plugin>
